/* Bulma customizations */
:root:root {
	--bulma-scheme-h: 234;

	--bulma-primary-h: 247deg;
	--bulma-primary-s: 23%;
	--bulma-primary-l: 51%;

	--bulma-info-h: 189deg;
	--bulma-info-s: 65%;
	--bulma-info-l: 50%;

	--discord-h: 205deg;
	--discord-s: 64%;
	--discord-v: 95%;

	--bulma-duration: 100ms;
	--bulma-body-overflow-y: auto;
}

html,
body {
	height: 100%;
}

html {
	--gradient-saturated: hsl(
		var(--bulma-primary-h),
		calc(var(--bulma-primary-s) + 10%),
		calc(var(--bulma-soft-l) + 20% * sign(var(--bulma-active-border-l-delta)))
	);
	background-attachment: fixed;
	background-image: radial-gradient(
		circle at 80% 50%,
		transparent 65%,
		var(--gradient-saturated) 150%
	);
}

body {
	display: flex;
	flex-direction: column;
}

.section {
	--bulma-section-padding-desktop: 1.5rem 0;
	--bulma-section-padding: 0.5rem 0;
}

.card {
	--bulma-card-content-padding: 0.75rem 1rem 1rem;
}

.modal {
	opacity: 0;
	transition:
		opacity 200ms,
		display 200ms allow-discrete;
}
.modal.is-active {
	opacity: 1;
	animation: modal-fade-in 200ms;
}

@keyframes modal-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
